@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Mulish", sans-serif;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

/* nav styles starts */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.holiday-travel {
    display: flex;
    align-items: center;
}

.holiday-travel h1 {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.holiday-travel h1>span {
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}

.holiday-travel img {
    width: 3rem;
    margin-right: 10px;
}

.nav-options a {
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    margin: 10px 10px;
}

.nav-options>a>span {
    color: #FF5400;
}

.hamburger>img {
    display: none;
    position: relative;
    margin: 0px;
    width: 24px
}

/* nav styles ends */
.banner>img {
    width: 1160px;
    height: 500px;
    border-radius: 16px;
}

.banner {
    max-width: 1160px;
    margin: auto;
}

.inputs {
    width: 900px;
    height: 100px;
    border-radius: 8px;
    background-image: rgba(255, 255, 255, 0.342);
}

.banner-element>h1 {
    text-align: center;
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 0px;
}

.banner-description {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.inputs {
    background-color: #fff4f449;
    margin-left: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.inputs>input {
    padding: 10px;
    margin-right: 24px;
    border: none;
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
}

.inputs>button {
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    border: none;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
}

.inputs>button>img {
    margin-right: 5px;
    width: 22px;
}

/* banner styles start */
.banner {
    display: grid;
    place-items: center;
    place-content: center;
    width: 1170px;
    height: 500px;
    border-radius: 20px;
    background:
        linear-gradient(to top, rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.486)),
        url('/Images/Group\ 13\ \(1\)\ \(1\).png') no-repeat center center / cover;
}

.banner>.banner-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 10px;
}

.banner>.banner-des {
    text-align: center;
    color: #FFF;
    width: 700px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
}

.banner>.destination-inputs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 750px;
    height: 80px;
    border-radius: 8px;
    background: rgba(199, 199, 199, 0.3);
    padding: 16px;
    gap: 24px;
}

.banner>.destination-inputs>input,
select {
    padding: 15px;
    border: none;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
}

.destination-inputs>.find-button {
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: none;
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 5px;
    cursor: pointer;
}

.destination-inputs>.find-button img {
    height: 20px;
    margin-right: 10px;

}

/* banner styles end */
/* popular tours styles start */
.popular-tours-section {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popular-tours-info>.populars-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.popular-tours-info>.popular-des,
ul,
p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.popular-tours-info>.popular-des {
    width: 550px;
}

.popular-tours-info>ul,
p {
    width: 500px;
}

.popular-tours-info>button {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border: none;
}

.poular-tours-img>img {
    width: 540px;
    height: 550px;
    flex-shrink: 0;
    border-radius: 16px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

/* popular tours styles end */
/* choose your destination styles start */
.destination-section {
    margin-top: 100px;
}

.destinaton-title {
    display: grid;
    place-content: center;
    place-items: center;
}

.destinaton-title>h3 {
    margin-bottom: 0px;
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.destinaton-title>p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    width: 620px;
}

.image-container>.div-1,
.div-2,
.div-3,
.div-4,
.div-5,
.div-6,
.div-7 {
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}

.image-container>.first-container>.div-1 {
    display: grid;
    place-items: center;
    place-content: center;
    width: 586px;
    height: 300px;
    color: #FFF;
    flex-shrink: 0;
    border-radius: 10px;
    background: url('/Images/Rectangle\ 5.png') no-repeat center center / cover;
}

.image-container>.first-container>.div-2 {
    display: grid;
    place-items: center;
    place-content: center;
    width: 586px;
    height: 300px;
    color: #FFF;
    flex-shrink: 0;
    border-radius: 10px;
    background: url('/Images/Rectangle\ 8.png') no-repeat center center / cover;
}

.image-container>.second-container>.div-3 {
    display: grid;
    place-items: center;
    place-content: center;
    width: 374px;
    height: 300px;
    color: #FFF;
    flex-shrink: 0;
    border-radius: 10px;
    background: url('/Images/Rectangle\ 6.png') no-repeat center center / cover;
}

.image-container>.second-container>.div-4 {
    display: grid;
    place-items: center;
    place-content: center;
    width: 474px;
    height: 300px;
    color: #FFF;
    flex-shrink: 0;
    border-radius: 10px;
    background: url('/Images/Rectangle\ 7.png') no-repeat center center / cover;
}

.image-container>.second-container>.div-5 {
    display: grid;
    place-items: center;
    place-content: center;
    width: 290px;
    height: 300px;
    color: #FFF;
    flex-shrink: 0;
    border-radius: 10px;
    background: url('/Images/Rectangle\ 9.png') no-repeat center center / cover;
}

.image-container>.third-container>.div-6 {
    display: grid;
    place-items: center;
    place-content: center;
    width: 493px;
    height: 300px;
    color: #FFF;
    flex-shrink: 0;
    border-radius: 10px;
    background: url('/Images/Rectangle\ 11.png') no-repeat center center / cover;
}

.image-container>.third-container>.div-7 {
    display: grid;
    place-items: center;
    place-content: center;
    width: 683px;
    height: 300px;
    color: #FFF;
    flex-shrink: 0;
    border-radius: 10px;
    background: url('/Images/Rectangle\ 10.png') no-repeat center center / cover;
}

.image-container {
    display: grid;
    grid-gap: 1em;
}

.first-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

.second-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
}

.third-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* choose your destination styles end */
/* why choose us styles start */
.why-choose-us {
    display: grid;
    place-content: center;
    place-items: center;
}

.why-choose-us>h3 {
    margin-bottom: 0px;
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.why-choose-us>p {
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    justify-content: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.choose-us-container {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.choose-us-container>.hotels {
    background-color: rgb(253, 253, 237);
    padding: 30px;
    border: 0.5px solid #cbcbcb;
    border-radius: 10px;
}

.choose-us-container {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
}

.choose-us-container>.hotels>p {
    width: 486px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.choose-us-container>.world-class {
    padding: 30px;
}

.best-price {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgb(246, 246, 246);
    padding: 30px;
    border: .5px solid #c3c3c3;
    border-radius: 10px;
}

/* why choose us styles end */
/* newsletter styles start */
.newsletter-section {
    margin-top: 60px;
    display: flex;
}

.newsletter-section>.form {
    width: 400px;
    height: 362px;
    flex-shrink: 0;
    padding: 30px;
    border: 1px solid orangered;
    border-radius: 10px;
    margin-right: 20px;
}

.newsletter-section>.form>h4 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.newsletter-section>.form>P {
    width: 350px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.newsletter-section>.form>input {
    padding: 10px;
    color: rgba(19, 19, 24, 0.30);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 373px;
    height: 42px;
    flex-shrink: 0;
    border: none;
    border-radius: 5px;
    background-color: #e3e3e3;
    margin-bottom: 10px;
}

.newsletter-section>.form>button {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border: none;
    cursor: pointer;
}
.form-img{
    background: url(/Images/Rectangle\ 8\ \(1\).png);
}
.newsletter-section>.form-img {
    width: 672px;
    height: 422px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid saddlebrown;

}

.travel-com {
    text-align: center;
    align-items: center;
    background-color: #FF5400;
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    position: relative;

}


.travel-com h5 {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0px;
}

.travel-com h2 {
    text-align: center;
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
}

/* newsletter styles end */